/* AddMember.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px;
    background-color: #f4f6f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 2em;
    color: #333;
    /* margin-bottom: 20px; */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 15px; */
  }
  
  .label {
    font-size: 1em;
    color: #333;
    margin-top: 15px;
    display: block;
  }
  
  .input, .select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .select {
    background-color: white;
  }
  
  .button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .button:active {
    transform: scale(1);
  }
  