/* memberlist.module.css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.filterSelect, .searchInput {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

.addMemberLink {
    margin-top: 10px;
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;
}

.addMemberLink:hover {
    text-decoration: underline;
}

.tableContainer {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.upcomingPayment {
    background-color: #ffe4e1; /* Light red */
}

.phoneLink {
    color: #007bff;
    text-decoration: none;
}

.phoneLink:hover {
    text-decoration: underline;
}

.updateButton, .deleteButton, .detailsLink {
    color: #007bff;
    cursor: pointer;
}

.updateButton:hover, .deleteButton:hover, .detailsLink:hover {
    text-decoration: underline;
}
